<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>US Bills</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
	<body>
        
        <!-- Jumbotron and Navbar -->
        <div class="col-md-12 jumbotron text-center">
            <h1>Will This Bill Pass?</h1>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Popular Bill Predictions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="usmap.html">Map</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About the Model</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://usbillsapp.onrender.com/currentbillsdashboard" target="_blank">All Bills Table</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://usbillsapp.onrender.com/topbillsdashboard" target="_blank">Top Bills Table</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/JJERANEK/Project-4" target="_blank">GitHub Repository</a>
                </li>
            </ul>
        </div>
        <!-- End of Jumbotron and Navbar -->

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="pageHeader">
                <h2>About the Models</h2>
              </div>
                <p class="introParagraph">House and Senate models were created by training on all the bills introduced in the United States House of Representatives 
                  and Senate from the 113th Congress to the 117th Congress. These models were used to make predictions on whether 
                  currently introduced bills in the 118th Congress will pass or fail an upcoming vote based on the same criteria.
                  Model predictions are based on all the assumptions put into the model training.
                </p>
            </div>
          </div>
          <hr>
          <div class="row" id="ModelDescription">
            <div class="col-md-12">
              <h4 style="text-align:center;">Model Diagram</h4>
              <img class ="nn_model_pic" id="HouseModel" src="../static/img/house_model_nn.png" alt="House NN">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <p style="font-size: 20px;">The models were built using neural network machine learning algorithms using scikit-learn and TensorFlow/Keras packages for Python.
                After data cleaning, the total training/testing dataset for all bills was 60,568.
                For training the respective models, the data was split into House data containing 39,055 bills and Senate data containing 21,126 bills.</p>
              <p style="font-size: 20px;">After further preprocessing, the datasets were individually split into training and testing data, 
                which were fit using the model description below, creating the House and Senate models.</p>
                <ul>
                  <li>Target: Bill Passed into Law</li>
                  <li>Features: Congress Term, Sponsor Party, Count of Cosponsors, Count of Cosponsors by party,
                    Total # of Cosponsor States, Count of Cosponsors by state, Month Introduced, Subject (Total features: House model 122, Senate model 115)</li>
                  <li>Total Layers: 5</li>
                  <li>Activation Functions: relu, relu, tanh, tanh, sigmoid</li>
                  <li>Neurons for each hidden layer: 9/7/7/5/1</li>
                  <li>Epochs: 100</li>
                </ul>
              <p style="font-size: 24px;">  The House model attained an accuracy score of <span style="color:blue">97.04%</span>  
                and the Senate model attained an accuracy score of <span style="color:red">95.76%</span>.
              </p>
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12">

            </div>
          </div> -->

          <div class="row" id="imageDescriptionOne">
            <div class="col-md-3">
              <img class ="graphs" src="../static/img/house_model_accuracy.png" alt="House Accuracy">
            </div>
            <div class="col-md-3">
              <img class ="graphs" src="../static/img/house_model_loss.png" alt="House Loss">
            </div>
              <div class="col-md-3">
                <img class ="graphs" src="../static/img/senate_model_accuracy.png" alt="Senate Accuracy">
              </div>
              <div class="col-md-3">
                <img class ="graphs" src="../static/img/senate_model_loss.png" alt="Senate Loss">
              </div>

          </div>
          <hr>
          <div class="row" id="Title_imageDescriptionTwo">
            <div class="col-md-12">
              <h4 style="text-align:center;">Descriptive Statistics For House and Senate Data</h4>
            </div>
          </div>
          <div class="row" id="imageDescriptionTwo">
            <div class="col-md-6">
              <img src="../static/img/HouseBills.png" alt="House Bills" style="width: 100%;">
              <!-- <div id="plot"></div> -->
            </div>
            <div class="col-md-6">
              <img src="../static/img/SenateBills.png" alt="Senate Bills" style="width: 100%; height: 100%;">
            </div>
          </div>

          <div class="row">
            <p class="HouseSenateDescription">The two graphs above show the total number of bills that passed and failed for each iteration of Congress from the 113th to the 117th for each chamber.
              The amount of bills passed for the House of Representatives has remained fairly consistent throughout, whereas the amount of failed bills has increased. This would show that more bills 
              were introduced in the 117th Congress, but passing rate remains similar to previous iterations of Congress.
              Bills passed in the House of Represenatives are sent to the Senate to be reviewed, amended, and voted on. As shown above, the number of bills shown for 
              the 116th and 117th iteration of the Senate has increased similarly to the House. Trends shown are incredibly similar to changes in the House.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="card h-100">
                <img src="../static/img/HouseCosponsors.png" alt="House Cosponsors">
                <div class="card-body">
                  <p class="card-text">The 116th and 117th Congress's House of Representatives showed a higher amount of cosponsors attached to bills that have passed compared to 
                    the previous three iterations. There is also a higher overall average amount of Democrat cosponsors in the more recent iterations of the House.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-12">
              <div class="card h-100">
                <img src="../static/img/MonthIntroduced.png" class="card-img-top" alt="Month Introduced">
                <div class="card-body">
                  <p class="card-text">Based on our findings, bills introduced in January have the highest passing rate in the House, and bills introduced in March have the highest passing
                    rate in the Senate. Passing rates for both chambers fall significantly after the first half of the year.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-12">
              <div class="card h-100">
                <img src="../static/img/SenateCosponsors.png" class="card-img-top" alt="Senate Cosponsors">
                <div class="card-body">
                  <p class="card-text">Unlike the House of Respresentatives, the Senate chamber for the 117th Congress shows significantly less average cosponsors than the previous few iterations.
                    The amount of average cosponsors among bills that have failed remains fairly consistent across both chambers for all five iterations of Congress viewed here.
                  </p>
                </div>
              </div>
            </div>

          </div>          

        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../visuals_zack/static/js/logic_zack.js"></script>
        </body>
    </html>