body {
    width: 100%;
    height: 100%;
    background-image: url("https://media.istockphoto.com/id/1299928257/photo/vintage-white-paper-background.jpg?b=1&s=170667a&w=0&k=20&c=dl73Xpf9CMzZZH0jgi5GJMkhKth6oJHs5PtWdaM0qmo=");
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.jumbotron {
	background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
    background-image: url("https://www.shutterstock.com/image-photo/united-state-capitol-on-sunny-260nw-1536131540.jpg");
    background-position: center;
}

.jumbotron > h1 {
    text-shadow: 3px 3px 4px black;
    color: white;
    font-size: 70px;
}

.jumbotron > p {
    text-shadow: 1px 1px 2px black;
    color: white
}

.nav-link {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#overview_text {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    padding-bottom: 40px;
}

.billData {
    position:absolute;
    left: 10%;
}


#billInfo {
    border: 8px solid;
    overflow: auto;
}

#output {
    height: 200px;
    width: 300px;
    background: linear-gradient(45deg, blue, red);
    color: white;
    position: absolute;
    left: 72%;
    top: 47%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.25);
    display: grid;
    place-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

#donut {
    position: absolute;
    left: 62%;
    top: 55%;
}