body {
    width: auto;
    height: auto;
}

.jumbotron {
	background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 30px   
}

.jumbotron > h1 {
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 60px;
}

.jumbotron > p {
    text-shadow: 1px 1px 2px black;
    color: white
}

.nav-link {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 400px;
}

#overview_text {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}